body {
	margin: 0;
}

#sectionA {
	background: blue;
	width: 33%;
	height: 100%;
	float: left;
}
#sectionB {
	background: red;
	width: 33%;
	height: 100%;
	float: left;
}
#sectionC {
	background: green;
	width: 33%;
	height: 100%;
	float: left;
}
